*{
    color:red;

}
.class50{
    border:solid
}
.class50{
    background-color: aqua;
    display:flex;
    justify-content: unset;
}
.class1{
    background-color: rgb(161, 20, 255);
    border: solid;
}